.home{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #DCDCDC;
  justify-content: center;
  align-items: center;

  .home-container-left{
    flex:3;
    height: 70%;
    // outline: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    h1 {
      
      text-align: center;
      font-size: 60px;
    }

  }
  .home-container-right{
    height: 70%;
    // outline: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:4;
    .img-feature{
      width: 85%;
      
      object-fit: contain;
      box-shadow: rgba(0, 0, 0, 0.9) 0px 7px 29px 0px;
    }
  }
}