.sign-in-container{ 
  display: flex;
  flex-direction: column;
  width: 380px;
  h2{
    margin: 10px 0;
  }
  .buttons-container{
    display: flex;
    justify-content: space-between;

    .sign-in{
      min-width: 165px;
      width: auto;
      height: 50px;
      letter-spacing: 0.5px;
      line-height: 50px;
      padding: 0 35px 0 35px;
      font-size: 15px;
      background-color: #519E8A;
      color: white;
      text-transform: uppercase;
      font-family: 'Open Sans Condensed';
      font-weight: bolder;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
    }

    .google-sign-in{
      min-width: 165px;
      width: auto;
      height: 50px;
      letter-spacing: 0.5px;
      line-height: 50px;
      padding: 0 35px 0 35px;
      font-size: 15px;
      background-color: #357ae8;
      color: white;
      text-transform: uppercase;
      font-family: 'Open Sans Condensed';
      font-weight: bolder;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;

    }


  }

}