.nav{
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  background-color: white;
  
  .nav-left{
    height: 100%;
    display: flex;
    width: 15%;    
    justify-content: space-between;
    align-items: center;
    

    .logo-container-nav:link {
      text-decoration: none;
      
    }
    
    .logo-container-nav {
      height: 100%;
      width: 70px;
      margin-top: 10px;
      margin-left: 10px;
      outline: 1px blue;

  
      .logo-nav {

          display: flex;
          align-items: center;
          justify-content: center;
          .line-nav {
              width: 100px;
              height: 1px;
              border: 1px solid #519E8A;
              background-color: #519E8A;
              margin: 3%;
          }
          .x-nav {
              color: #519E8A;
              font-weight: 1000;
              font-size: 15px;
              text-decoration: none;
              
          }
      }
  
      .logo-bottom-nav {
          text-align: center;
          font-size: 28px;
          font-weight: 500;
          text-decoration: none;
          color: black;
      }
  
    }
    .nav-link{
      padding: 10px 15px;
      text-decoration: none;
      font-weight: bold;
      font-size: 17px;
      color: black;
      cursor: pointer;
    }
  }
  .nav-right{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10px;

    .img-dropdown {
      position: relative;

      .profile-img {
        width: 3em;
        height: 3em;
        border-radius: 50%;
      }
      
      .dropdown {
        list-style: none;
        position: absolute;
        right: 0;
        background-color: white;
        border-radius: 5%;
        padding: 10%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

    }

    .default-pro-pic {
      width: 3em;
      height: 3em;
      border-radius: 50%;
      background-color: #519E8A;
    }

    .users-name {
      padding-left: 1em;
      padding-right: 1em;
    }

    .signout {
      padding-left: 1em;
      padding-right: 1em;
    }
    
    .login-signup-nav{
      text-decoration: none;
    }
  }

}