$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

.music-room-container{
  display: flex;
  flex-direction: column;
  background-color: #DCDCDC;
  height: 100vh;
  align-items: center;
  
  .room-key {
    background-color: #D9D9D9;
    width: 100%;
    display: flex;
    justify-content:end;
    align-items: end;
    margin-top: 70px;
    margin-right: 20px;
    font-weight: bold;
    
  }
  
  .content-wrapper{
    display: flex;
    background-color: #DCDCDC;
    width: 100%;
    height: 73vh;
    align-items: center;

    
    .music-queue{
      height: 70vh;
      width: 20vw;
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.4);
      margin: 10px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 29px 0px;

      .video-title{
        font-weight: bold;
        font-size: 1em;
        line-height: 2em;
        background-color: #519E8A;
        color: white;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 2px;
      }
      
    }
    .video-player{
      margin: 10px;
      height: 70vh;
      width: 20vw;
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // border: 1px solid black;
      
      
      .video-title{
        font-weight: bold;
        font-size: 1em;
      }
    }
    .message-container{
      flex: 1;
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 70vh;
      width: 20vw;
      border: 1px solid rgba(0, 0, 0, 0.4);
      box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 29px 0px;
      
      
      .chatroom {
        background-color: #D9D9D9;
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .chatroom-container{
        flex: 15;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.4);
        width: 100%;
        overflow-y: scroll;
        background-color: white;
        word-wrap: break-word;
        
        
        .user-info-message {
          padding: .3em;
          margin-left: .5em;
          
          .user {
            font-weight: bold;
            color:#519E8A;
          }
          
        }
      }
      
      .message-form{
        display: flex;
        flex: 1;
        background-color: #D9D9D9;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
  
  
        .message-input{
          width: 70%;
          padding: 10px;
          background-color: #DCDCDC;
          border: none;
        }
  
        .send-button{
          width: 30%;
          padding-top: 12px;
          padding-bottom: 13px;
          background-color: #519E8A;
          color: white;
          border: none;
          cursor: pointer;
        }
  
      }
    
    }
  }

  .input-link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
    .yt-input-form{
      height: auto;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      

      .yt-input{
        background: none;
        background-color: #DCDCDC;
        color: $sub-color;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        display: block;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $sub-color;
        margin: 15px 0;
        margin-right: 20px;
        outline: none;
      }
      .send-yt-button{
        padding: 10px;
        cursor: pointer;
        background-color: #519E8A;
        border: none;
        color: white;
        height: 40px;
        
      }

    }


  }

}

