.message-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 20vw;
  border: 1px solid black;
  margin-left: 20vw;
  margin-top: 20vh;


  .chatroom-container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 90%;
    width: 100%;
    margin: .5em;
    overflow-y: scroll;

    .user-info-message {
      padding: .3em;

      .user {
        font-weight: 500;
        margin-left: .5em;
      }

      .user-message {
      }
    }

  }
  
  .message-form{
    display: block;
  }

}

